---
layout: page
title: "Get In Touch"
---
	<h3>We’d like to hear from you</h3>
	<p>The Open Source Center is a collaborative initiative currently stewarded
		by the Digital Impact Alliance (DIAL), an initiative of the United Nations
		Foundation.</p>

<p>DIAL aims to realize a more inclusive digital society in emerging markets,
	in which all women, men and children benefit from life-enhancing, mobile-based
	digital services. A partnership among USAID, the Bill and Melinda Gates
	Foundation, the Swedish Government and the United Nations Foundation, DIAL's
	efforts help accelerate the collective efforts of government, industry and
	development organizations to realize this vision.</p>

	<p><strong>We’d like to hear from</strong> potential member projects, service
		partners, private or public sector sponsors, or anyone with a shared
		interest in advancing open source software in the technology for
		development sector.</p>

	<hr />

	<h3>Get in touch</h3>

<p><strong>Forum:</strong> Connect to our leaders and members at
	<a href="https://forum.osc.dial.community/">https://forum.osc.dial.community/</a>.</p>

	<p><strong>Email:</strong> osc@dial.community</p>

	<p><strong>Twitter:</strong> <a href="https://twitter.com/DIAL_Community">Follow
		us on our Twitter @DIAL_Community</a> and stay updated with the latest
		news of the Center.</p>

<p><strong>Address:</strong><br />
Digital Impact Alliance at the UN Foundation<br />
ATTN: Open Source Center<br />
1750 Pennsylvania Avenue NW<br />
Suite 300<br />
Washington, D.C. 20006<br />
United States of America</p>

<p><strong>Telephone:</strong> +1.202.887.9040</p>
