---
layout: page
title: "Site Map"
---

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="challenge.html">The Challenge</a></li>
  <li><a href="mission.html">Our Mission</a></li>
  <li><a href="values.html">Our Values</a></li>
  <li><a href="governance.html">Our Governance</a>
    <ul>
      <li><a href="governance-principles.html">Governance Principles</a></li>
      <li><a href="licensing-principles.html">Licensing Principles</a></li>
      <li><a href="finance-principles.html">Finance Principles</a></li>
    </ul>
  </li>
  <li><a href="join.html">Become a Member</a></li>
  <li><a href="services.html">Receive Services</a>
    <ul>
      <li><a href="services-details.html">Services Menu</a></li>
      <li><a href="maturity-model.html">Project Maturity Model</a></li>
      <li><a href="proposal-template.html">Proposal Template</a></li>
    </ul>
  </li>
  <li><a href="grants.html">Apply for a Grant</a>
    <ul>
      <li><a href="catagrant.html">Catalytic Grant Program</a></li>
      <!-- <li><a href="grant-application-form.html">Grant Application</a></li> -->
    </ul>
  </li>
</ul>
