---
layout: page
title: "Our Values"
---

The DIAL Open Source Center is guided by the <a href="https://digitalprinciples.org/">Principles for Digital Development</a>, the <a href="https://digitalimpactalliance.org/the-opportunity/">Digital Impact Alliance mission</a>, and the <a href="http://agilemanifesto.org/">Manifesto for Agile Software Development</a>. Specifically:

<ul>
<li>We believe <strong>technology has a key role to play in both ensuring  international development programs effectively use resources</strong>, as well as ensuring that those development programs empower beneficiaries to be active participants in society.</li>
<li>We believe the <strong>techniques evolved by the free and open source software movement are the best ways</strong> to create inclusive, collaboratively-designed software – ensuring all stakeholders have a voice.</li>
<li>We believe that <strong>bringing related software development teams into a common virtual space is the best way</strong> to learn from each other, innovate faster, and reduce duplication of efforts.</li>
<li>We also believe that a <strong>software development community with users actively engaged at its core is the best way</strong> to ensure those users are the beneficiaries of tools that actually make their work and their lives better.</li>
</ul>

<p>
<a href="mission.html"><span class="icon fa-long-arrow-left"></span> Our Mission</a> | <a href="vision.html">Our Vision <span class="icon fa-long-arrow-right"></span></a>
<p>
