<!-- Footer -->
<footer id="footer">
  <ul class="icons sponsors">
    <li class="description"><a href="https://digitalimpactalliance.org">The Digital Impact Alliance</a> is a partnership amongst some of the world’s most active digital development champions. We are grateful for the support of our Founding Partners.</li>
    <li><img alt="United Nations Foundation" src="images/unf-logo.png"/></li>
    <li><img alt="Bill and Melinda Gates Foundation" src="images/bill-n-melinda-logo.png"/></li>
    <li><img alt="Swedish International Development Cooperation Agency" src="images/sweden-logo.png"/></li>
    <li><img alt="USAID" src="images/usaid-logo.png"/></li>
  </ul>
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    <li><a href="http://www.digitalimpactalliance.org/privacy-policy/">Privacy policy</a></li>
    <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
    <li>Built with: <a href="http://jekyllrb.com" target="_blank">Jekyll</a></li>
  </ul>
</footer>
