<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <img src="images/Dial_white_logo.png"/>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="challenge.html">The Challenge</a></li>
            <li><a href="mission.html">Our Mission</a></li>
            <li><a href="values.html">Our Values</a></li>
            <li><a href="vision.html">Our Vision</a></li>
            <li><a href="governance.html">Our Governance</a></li>
            <li><a href="join.html">Become a Member</a></li>
            <li><a href="services.html">Receive Services</a></li>
            <li><a href="grants.html">Apply for a Grant</a></li>
            <li><a href="sitemap.html">Site Map</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
